.about__bank__content {
  padding: 40px;
  border: 1px solid #ececec;
  border-radius: 10px;
  height: 100%;
}
.about__bank__content h1 {
  color: rgb(255, 198, 40);
}
.about__bank__content p {
  text-align: justify;
}
.bank__logo__section {
  position: relative;
  display: flex;
  justify-content: center;
}

.bank__logo__section img {
  border-radius: 10%;
  /* width: 100%; */
}

.bank__logo__section h1 {
  position: absolute;
  top: 4px;
  left: center;
  color: rgb(173, 133, 23);
  font-size: 20px;
}
/* 
.bank__info__right,
.bank__info__left {
  margin-top: 100px;
} */

.bank__info {
  text-align: justify;
}

.bank__info h2,
.bank__info h1 {
  font-size: 25px;
}

.bank__info p {
  font-size: 16px;
}

.bank__info__bottom {
  text-align: center;
}
