.creditDetailsContainer {
  margin: 20px 0;
}

.creditDetailsContainer h4 {
  font-size: 18px;
}

.creditDetailsContainer h5 {
  font-size: 20px;
  margin-right: auto;
}

.your__credits__right {
  /* width: 100%; */
  display: flex;
  align-items: center;
}
